// https://coolors.co/242424-2a2a2a-606060-141414-23395b

@light-font-color: #bcbcbc;
@dark-font-color: #141414;
// @accent-color: #315080;
@accent-color: #CE7800;
@background-color: #242424;
@secondary-color: #2a2a2a;
@primary-color: #606060;
@off-black: #141414;
@off-white: #f6f6f6;


// Responsiveness Variables
@small-screen: ~"only screen and (max-width: 950px)";
@large-screen: ~"only screen and (min-width: 1000px)";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: @background-color;
  color: @light-font-color;
}

#body {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0px;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.force-inline-block {
    display: inline-block;
}

.remove-margin-on-small-screen {
    @media @small-screen {
        margin: 0 -15px 0 -15px;
    }
}

.section-header {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0 0 45px 0;
  @media @small-screen {
      padding: 0 0 15px 0;
  }
}

.section-title {
  margin-bottom: 0px;
}

#header {
  background-color: @off-black;
  padding-top: 15px;
  padding-bottom: 35px;
  box-shadow: 0px 0px 5px 3px grey;
  position: relative;
  z-index: 1;
  
  .the {
    font-size: 36px;
    color: @accent-color
  }
  
  .preston {
    font-size: 64px;
  }

  img {
    max-width: 100%;
  }
}

#projects {
  background-color: @off-white;
  padding: 50px 0px 100px 0px;
  color: @dark-font-color;

  .project {
    padding: 10px;
  }

  .project-selector {
    min-height: 800px;
    background-color: @background-color;
    padding: 0px;
    @media @small-screen{
        display: none;
    }
  }

  #project-viewer {
    background-color: @light-font-color;
    padding: 15px;

    img {
      max-height: 400px;
    }

    iframe {
      width: 645px;
      height: 400px;
    }

  }

  .project-box {
    position: relative;
    padding: 0px 0px 0px 8px;
    transition: filter 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
      background-color: @primary-color;
    }

    &.selected {
      filter: grayscale(0%);
      background-color: @accent-color;
    }
    
    img {
      max-width: 100%;
      max-height: 100%;
    }

  }

  .project-box>.project-title {
    position: absolute;
    width: 100%;
    font-size: 24px;
    transition: opacity 0.5s ease;
    opacity: 0;
  }

  .project-box>.project-overlay {
    position: absolute;
    display: inline-block;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: @accent-color;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

#about {
  padding: 50px 0px 50px 0px;
  color: @light-font-color;
  box-shadow: 0 0 5px 3px grey;
  position: relative;
  z-index: 1;

}

#contact {
  padding: 25px 0px 25px 0px;
  color: @light-font-color;
  background-color: @off-black;
  font-size: 16px;
  position: relative;
  z-index: 1;

  .fa-lg {
    margin-right: 5px;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: @light-font-color;
  }

  span {
    margin-right: 40px;
  }

  i {
    color: @accent-color;
  }

}
  
.centered-column {
  width:960px;
  float:none;
  margin: auto;
}
  
.color-line {
  background-color: @accent-color;
  height: 15px;
  width: 100%;
}

#title {
  font-family: "Trajan Pro", Times, serif;
  color: @primary-color;
}
  
/* Short Bar */
.short-bar {
  background-color: @accent-color;
  height: 4px;
  width: 40px;

  &.project-bar {
    position: relative;
    left: -57px;
  }
  
  &.about-bar {
    position: relative;
    left: -33px;
  }
}
  
  
/* About Me */
.download-resume {
  margin: 10px 60px;
}

.interact-button {
  border: 2px solid @accent-color;
  border-radius: 5px;
  padding: 10px;
  color: @accent-color;
  transition: all 0.3s ease;
}

.interact-button:hover {
  color: @primary-color;
  background-color: @accent-color;
}

.download-link {
  position: relative;
  float: right;
  top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

  .download-button {
    width: 140px;
    height: 40px;
  }

  .controller-warning {
    font-size: 11px;
  }

}

a:hover {
  text-decoration: none;
}

.about-me-info .col-md-3 {
  float: none;
  display: inline-block;
}

.container {
  display:table;
  width: 100%;
  margin-top: -50px;
  padding: 50px 0 0 0; /*set left/right padding according to needs*/
  box-sizing: border-box;
}

.row .no-float {
  display: table-cell;
  float: none;
}

.small-divider {
  display: block;
  margin: 9px auto;
  height: 2px;
  width: 70px;
  background-color: @accent-color;
}
