// https://coolors.co/242424-2a2a2a-606060-141414-23395b

@light-font-color: #bcbcbc;
@dark-font-color: #141414;
@accent-color: #CE7800;
@background-color: #242424;
@secondary-color: #2a2a2a;
@primary-color: #606060;

@off-black: #141414;
@75pc-off-black-transparent: rgba(0,0,0,0.75);

@off-white: #f6f6f6;
@full-transparent: rgba(0,0,0,0);

// Responsiveness Variables
@small-screen: ~"only screen and (max-width: 991px)";
@large-screen: ~"only screen and (min-width: 992px)";

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: @background-color;
  color: @light-font-color;
  line-height: 1.5;
}
h3 {
    font-family: 'Roboto', sans-serif;
}
a:hover {
  text-decoration: none;
}

/* ==================== Keyframes =================== */
@keyframes slide-in-next {
    100% { left: 0; }
}
@keyframes slide-out-next {
    100% { left: 100%; }
}
@keyframes slide-in-prev {
    100% { left: 0; }
}
@keyframes slide-out-prev {
    100% { left: -100%; }
}

/* ==================== Bootstrap Tweaks =================== */
.body {
  padding: 0;
  margin: 0;
}
.row {
  margin: 0px;
}
.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.force-inline-block {
    display: inline-block;
}
.remove-padding-on-small-screen {
    @media @small-screen {
        padding: 0px;
    }
}
.section-title {
  margin-bottom: 0px;
}
.container {
  display:table;
  width: 100%;
  margin-top: -50px;
  padding: 50px 0 0 0; /*set left/right padding according to needs*/
  box-sizing: border-box;
}
.row .no-float {
  display: table-cell;
  float: none;
}
.centered-column {
  width:960px;
  float:none;
  margin: auto;
}

/* ==================== Header =================== */
.header {
  background-color: @off-black;
  padding-top: 15px;
  padding-bottom: 35px;
  box-shadow: 0px 0px 5px 3px grey;
  position: relative;
  z-index: 1;
  font-family: "Trajan Pro", Times, serif;
  color: @primary-color;
}
.header-image {
  max-width: 100%;
}
.header-sub {
  font-size: 36px;
  color: @accent-color
}
.header-main {
  font-size: 64px;
}

/* ==================== Projects =================== */
.projects {
  background-color: @off-white;
  padding: 50px 0px 100px 0px;
  color: @dark-font-color;
  @media @small-screen {
      padding: 50px 0 0 0;
  }
}
.projects-inlay {
  box-shadow: 0 -2px 5px 1px grey;
}

/* ==================== projectSelector =================== */
.projectSelector {
  min-height: 800px;
  background-color: @background-color;
  padding: 0px;
  height: 100%;
  @media @small-screen{
      display: none;
  }
}
.project-text {
  margin: 30px 0 0 0 ;
}
.project-details {
  overflow: hidden;
}

/* ==================== Project =================== */
.project {
  position: relative;
  display: none;
  padding: 10px 10px 40px 10px;
  width: 100%;
  height: 100%;
  @media @small-screen {
      padding: 0 10px 40px 10px
  }
}
.project&.is-active {
  display: inline-block;
}
.project&.slide-in-next {
    top: 0;
    left: -100%;
    animation: slide-in-next .3s linear forwards;
}
.project&.slide-out-next {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  animation: slide-out-next .3s linear forwards;
}
.project&.slide-in-prev {
  top: 0px;
  left: 100%;
  animation: slide-in-prev .3s linear forwards;
}
.project&.slide-out-prev {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  animation: slide-out-prev .3s linear forwards;
}
.project-controllerWarning {
  font-size: 11px;
}

/* ==================== projectViewer =================== */
.project-viewer {
  position: relative;
  background-color: @light-font-color;
  padding: 15px;
  height: 100%;
  @media @small-screen {
    padding: 0px;
  }
}

/* ==================== projectTitleCard=================== */
.projectTitleCard {
  position: relative;
  padding: 0px 0px 0px 8px;
  transition: filter 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  filter: grayscale(100%);
}
.projectTitleCard&:hover {
  filter: grayscale(0%);
  background-color: @primary-color;
}
.projectTitleCard&.is-selected {
  filter: grayscale(0%);
  background-color: @accent-color;
}
.projectTitleCard-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.projectTitleCardTemplate {
    display: none;
}

/* ==================== projectImageCarousel =================== */
.projectImageCarousel {
    @media @small-screen {
        display: none;
    }
}
.projectImageCarousel-indicators {
  bottom: -30px;
}
.projectImageCarousel-indicators li {
  border-radius: 0;
  border: none;
  background-color: grey;
  height: 4px;
  width: 25px;
  margin: 0;
}
/* Specifying 'carousel-inner' is necessary to override bootstrap*/
.projectImageCarousel .carousel-inner img {
  height: 450px;
  object-fit: cover;
  object-position: 50% 50%;
}
/* Need to leave 'active' here for bootstrap to recognize it */
/* Need to specify w and h here to override bootstrap */
.projectImageCarousel-indicators li.active{
  background-color: white;
  height: 4px;
  width: 25px;
}

/* ==================== mobileProjectHeader =================== */
.mobileProjectHeader{
  margin: 0 -10px 0 -10px;
  position: relative;
  display: block;
  text-align: center;
  height: 220px;
  @media @large-screen {
      display: none;
  }
}
.mobileProjectHeader-image {
  height: 100%;
}
.mobileProjectHeader-image img{
  height: 100%;
  object-fit: cover;
}      
.mobileProjectHeader-title{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-image: linear-gradient(to top, @off-black, @75pc-off-black-transparent, @full-transparent);
}
.mobileProjectHeader-title h3{
  margin: 10px 0 10px 0;
}

/* ==================== mobileProjectImages =================== */
.mobileProjectImages {
  @media @large-screen {
      display: none;
  }
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
.mobileProjectImages .project-mobile-image {
  display: inline-block
}
.mobileProjectImages img {
  padding: 5px 0 5px 0;
  max-width: 100%;
  max-height: 400px;
}

/* ==================== mobileNextProjectBtn =================== */
.mobileNextProject {
    margin: 30px -10px -40px -10px;
    box-shadow: 0 -5px 5px 2px @accent-color;
    z-index: 1;
    cursor: pointer;
    @media @large-screen {
        display: None
    }
}
.mobileNextProject-btn {
    color: white;
    padding: 10px 0 15px 0;
    width: 100%;
    text-align: center;
    background-color: @accent-color
}


/* ==================== projectControl =================== */
.projectControl {
  @media @large-screen {
      display: none;
  }
  height: 220px;
  width: 100%;
  position: absolute;
  z-index: 10;
}
.projectControl-next {
    position: absolute;
    height: 100%;
    width: 15%;
    top: 0;
    right: 0;
}
.projectControl-nextIcon {
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 32px;
    color: white;
}
.projectControl-prev {
    position: absolute;
    height: 100%;
    width: 15%;
    top: 0;
    left: 0;
}
.projectControl-prevIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    color: white;
}
.project-downloadLink {
  position: relative;
  float: right;
  top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* ==================== about =================== */
.about {
  padding: 50px 0px 50px 0px;
  color: @light-font-color;
  box-shadow: 0 3px 5px 3px @background-color;
  position: relative;
  z-index: 1;
}

.about .download-resume {
  margin: 10px 60px;
}

/* ==================== customBtn =================== */
.customBtn {
  border: 2px solid @accent-color;
  border-radius: 5px;
  padding: 10px;
  color: @accent-color;
  transition: all 0.3s ease;
}
.customBtn:hover{
  color: @primary-color;
  background-color: @accent-color;
}
.customBtn--small {
  width: 140px;
  height: 40px;
}

/* ==================== contact =================== */
.contact {
  padding: 25px 0px 25px 0px;
  color: @light-font-color;
  background-color: @off-black;
  font-size: 16px;
  position: relative;
  z-index: 1;
}
.contact .fa-lg {
  margin-right: 5px;
}
.contact a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: @light-font-color;
}
.contact span {
  margin-right: 40px;
}
.contact i {
  color: @accent-color;
}

/* ==================== sectionHeader =================== */
.sectionHeader {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0 0 45px 0;
  @media @small-screen {
      padding: 0 0 15px 0;
  }
}
.sectionHeader-letterUnderline{
  position: relative;
  background-color: @accent-color;
  height: 4px;
  width: 40px;
}
.sectionHeader-letterUnderline--projects{
  left: -57px;
}
.sectionHeader-letterUnderline--about {
  left: -33px;
}
  