body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #242424;
  color: #bcbcbc;
}
#body {
  padding: 0;
  margin: 0;
}
.row {
  margin: 0px;
}
.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.section-header {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0 0 45px 0;
}
.section-title {
  margin-bottom: 0px;
}
#header {
  background-color: #141414;
  padding-top: 15px;
  padding-bottom: 35px;
  box-shadow: 0px 0px 5px 3px grey;
  position: relative;
  z-index: 1;
}
#header .the {
  font-size: 36px;
  color: #CE7800;
}
#header .preston {
  font-size: 64px;
}
#header img {
  max-width: 100%;
}
#projects {
  background-color: #f6f6f6;
  padding: 50px 0px 100px 0px;
  color: #141414;
}
#projects .project {
  padding: 10px;
}
#projects .project-selector {
  min-height: 800px;
  background-color: #242424;
  padding: 0px;
}
#projects #project-viewer {
  background-color: #bcbcbc;
}
#projects .project-box {
  position: relative;
  cursor: pointer;
  transition: filter 0.3s ease, background-color 0.3s ease;
  padding: 0px 0px 0px 8px;
  filter: grayscale(100%);
}
#projects .project-box:hover {
  filter: grayscale(0%);
  background-color: #606060;
}
#projects .project-box.selected {
  filter: grayscale(0%);
  background-color: #CE7800;
}
#projects .project-box img {
  max-width: 100%;
  max-height: 100%;
}
#projects .project-box > .project-title {
  position: absolute;
  width: 100%;
  font-size: 24px;
  transition: opacity 0.5s ease;
  opacity: 0;
}
#projects .project-box > .project-overlay {
  position: absolute;
  display: inline-block;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: #CE7800;
  opacity: 0;
  transition: opacity 0.5s ease;
}
#about {
  padding: 50px 0px 50px 0px;
  color: #bcbcbc;
  box-shadow: 0 0 5px 3px grey;
  position: relative;
  z-index: 1;
}
#contact {
  padding: 25px 0px 25px 0px;
  color: #bcbcbc;
  background-color: #141414;
  font-size: 16px;
  position: relative;
  z-index: 1;
}
#contact .fa-lg {
  margin-right: 5px;
}
#contact a:link,
#contact a:visited,
#contact a:hover,
#contact a:active {
  text-decoration: none;
  color: #bcbcbc;
}
#contact span {
  margin-right: 40px;
}
#contact i {
  color: #CE7800;
}
.centered-column {
  width: 960px;
  float: none;
  margin: auto;
}
.color-line {
  background-color: #CE7800;
  height: 15px;
  width: 100%;
}
#title {
  font-family: "Trajan Pro", Times, serif;
  color: #606060;
}
/* Short Bar */
.short-bar {
  background-color: #CE7800;
  height: 4px;
  width: 40px;
}
.short-bar.project-bar {
  position: relative;
  left: -57px;
}
.short-bar.about-bar {
  position: relative;
  left: -33px;
}
/* About Me */
.download-resume {
  margin: 10px 60px;
}
.interact-button {
  border: 2px solid #CE7800;
  border-radius: 5px;
  padding: 10px;
  color: #CE7800;
  transition: all 0.3s ease;
}
.interact-button:hover {
  color: #606060;
  background-color: #CE7800;
}
.download-button {
  position: relative;
  float: right;
  top: 10px;
  width: 140px;
  height: 40px;
}
a:hover {
  text-decoration: none;
}
.about-me-info .col-md-3 {
  float: none;
  display: inline-block;
}
.container {
  display: table;
  width: 100%;
  margin-top: -50px;
  padding: 50px 0 0 0;
  /*set left/right padding according to needs*/
  box-sizing: border-box;
}
.row .no-float {
  display: table-cell;
  float: none;
}
.small-divider {
  display: block;
  margin: 9px auto;
  height: 2px;
  width: 70px;
  background-color: #CE7800;
}
