body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border: 5px #2a2a2a;
  background-color: #242424;
  color: #bcbcbc;
}
#body {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}
.section-title {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0 0 45px 0;
}
#header {
  background-color: #141414;
  padding-top: 15px;
  padding-bottom: 35px;
}
#header .the {
  font-size: 36px;
  color: #23395B;
}
#header .preston {
  font-size: 64px;
}
#projects {
  background-color: #f6f6f6;
  padding: 50px 265px 50px 265px;
  color: #141414;
}
#projects .project {
  background-color: #bcbcbc;
  padding: 10px;
}
#projects .project-selector {
  background-color: #242424;
  padding: 0px;
}
#projects .project-viewer {
  padding-left: 0px;
}
#projects .project-box {
  position: relative;
  cursor: pointer;
  height: 210px;
  border-radius: 10px;
  margin: 10px 0;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}
#projects .project-box:hover {
  filter: grayscale(0%);
}
#projects .project-box.selected {
  background-color: #bcbcbc;
}
#projects .project-selector > img {
  max-width: 100%;
  max-height: 100%;
}
#projects .project-box > .project-title {
  position: absolute;
  width: 100%;
  font-size: 24px;
  transition: opacity 0.5s ease;
  opacity: 0;
}
#projects .project-box > .project-overlay {
  position: absolute;
  display: inline-block;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: #23395B;
  opacity: 0;
  transition: opacity 0.5s ease;
}
#about {
  padding: 50px 265px 50px 265px;
  color: #bcbcbc;
}
#contact {
  background-color: #141414;
}
.centered-column {
  width: 960px;
  float: none;
  margin: auto;
}
.color-line {
  background-color: #23395B;
  height: 15px;
  width: 100%;
}
#title {
  font-family: "Trajan Pro", Times, serif;
  color: #606060;
}
/* Content Divider */
.content-divider {
  color: #23395B;
}
.rust-line {
  position: relative;
  top: 28px;
  height: 4px;
  background-color: #2a2a2a;
}
/* About Me */
.download-resume {
  margin: 10px 60px;
}
.interact-button {
  border: 2px solid #23395B;
  border-radius: 5px;
  padding: 10px;
  color: #23395B;
  transition: all 0.3s ease;
}
.interact-button:hover {
  color: #606060;
  background-color: #23395B;
}
.download-button {
  position: relative;
  float: right;
  top: 10px;
  width: 140px;
  height: 40px;
}
a:hover {
  text-decoration: none;
}
.about-me-info .col-md-3 {
  float: none;
  display: inline-block;
}
.container {
  display: table;
  width: 100%;
  margin-top: -50px;
  padding: 50px 0 0 0;
  /*set left/right padding according to needs*/
  box-sizing: border-box;
}
.row .no-float {
  display: table-cell;
  float: none;
}
.small-divider {
  display: block;
  margin: 9px auto;
  height: 2px;
  width: 70px;
  background-color: #23395B;
}
/* Contact Info*/
#contact-container {
  margin-top: 50px;
}
#contact-container .row {
  margin: 0;
}
.contact-info {
  color: #606060;
  background-color: #23395B;
  padding-bottom: 50px;
}
.contact-info .rust-line {
  background-color: #606060;
}
.contact-info .content-divider {
  color: #606060;
}
.contact-info .social-buttons i {
  color: #606060;
  font-size: 36px;
  width: 50px;
  height: 50px;
}
.contact-info .contact-form .form-group {
  margin-bottom: 2px;
}
.contact-info .contact-form div {
  padding: 0px;
}
.contact-info .contact-form #message {
  height: 105px;
  width: 220px;
}
/*Project Modals*/
.modal .modal-dialog {
  width: 1000px;
}
.modal .modal-content {
  background-color: #242424;
}
.modal .carousel img {
  width: 970px;
  height: 500px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
