// https://coolors.co/242424-2a2a2a-606060-141414-23395b

@light-font-color: #bcbcbc;
@dark-font-color: #141414;
@accent-color: #23395B;
@background-color: #242424;
@secondary-color: #2a2a2a;
@primary-color: #606060;
@off-black: #141414;
@off-white: #f6f6f6;


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border: 5px @secondary-color;
  background-color: @background-color;
  color: @light-font-color;
}

#body {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}
  
.section-title {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0 0 45px 0;
}

#header {
  background-color: @off-black;
  padding-top: 15px;
  padding-bottom: 35px;
  
  .the {
    font-size: 36px;
    color: @accent-color
  }
  
  .preston {
    font-size: 64px;
  }
}

#projects {
  background-color: @off-white;
  padding: 50px 265px 50px 265px;
  color: @dark-font-color;

  .project {
    background-color: @light-font-color;
    padding: 10px;
  }

  .project-selector {
    background-color: @background-color;
    padding: 0px;
  }

  .project-viewer {
    padding-left: 0px;
  }

  .project-box {
    position: relative;
    cursor: pointer;
    height: 210px;
    border-radius: 10px;
    margin: 10px 0;
    transition: filter 0.5s ease;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
    }

    &.selected {
      background-color: @light-font-color;
    }

  }

  .project-selector>img {
    max-width: 100%;
    max-height: 100%;
  }

  .project-box>.project-title {
    position: absolute;
    width: 100%;
    font-size: 24px;
    transition: opacity 0.5s ease;
    opacity: 0;
  }

  .project-box>.project-overlay {
    position: absolute;
    display: inline-block;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: @accent-color;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

#about {
  padding: 50px 265px 50px 265px;
  color: @light-font-color;

}

#contact {
  background-color: @off-black;
}
  
  .centered-column {
    width:960px;
    float:none;
    margin: auto;
  }
  
  .color-line {
    background-color: @accent-color;
    height: 15px;
    width: 100%;
  }
  
  #title {
    font-family: "Trajan Pro", Times, serif;
    color: @primary-color;
  }
  
  
  
  /* Content Divider */
  .content-divider {
    color: @accent-color;
  }
  
  .rust-line {
    position: relative;
    top: 28px;
    height: 4px;
    background-color:	@secondary-color;
  }
  
  
  /* About Me */
  .download-resume {
    margin: 10px 60px;
  }
  
  .interact-button {
    border: 2px solid @accent-color;
    border-radius: 5px;
    padding: 10px;
    color: @accent-color;
    transition: all 0.3s ease;
  }
  
  .interact-button:hover {
    color: @primary-color;
    background-color: @accent-color;
  }
  
  .download-button {
    position: relative;
    float: right;
    top: 10px;
    width: 140px;
    height: 40px;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .about-me-info .col-md-3 {
    float: none;
    display: inline-block;
  }
  
  .container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
  }
  
  .row .no-float {
    display: table-cell;
    float: none;
  }
  
  .small-divider {
    display: block;
    margin: 9px auto;
    height: 2px;
    width: 70px;
    background-color: @accent-color;
  }
  
  /* Contact Info*/
  #contact-container {
    margin-top: 50px;
  }
  
  #contact-container .row {
    margin: 0;
  }
  
  .contact-info {
    color: @primary-color;
    background-color: @accent-color;
    padding-bottom: 50px;
  }
  
  .contact-info .rust-line {
    background-color: @primary-color;
  }
  
  .contact-info .content-divider {
    color: @primary-color;
  }
  
  .contact-info .social-buttons i {
    color: @primary-color;
    font-size: 36px;
    width: 50px;
    height: 50px; 
  }
  
  .contact-info .contact-form .form-group {
    margin-bottom: 2px;
  }
  .contact-info .contact-form div{
    padding: 0px;
  }
  
  .contact-info .contact-form #message{
    height: 105px;
    width: 220px;
  }
  
  
  /*Project Modals*/
  .modal .modal-dialog {
    width: 1000px;
  }
  
  .modal .modal-content {
    background-color: @background-color;
  }
  
  .modal .carousel img{
    width: 970px;
    height: 500px;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }